@import url('https://fonts.googleapis.com/css?family=Sunshiney&display=swap');


.App {
    text-align: center;
}

body {
    background-color: #c4c4c4 !important;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container div {
    padding: 0px;
    margin: 0.3em;
}

.picture, .specification {
    flex: 1 1 0;
}

.seller-info {
    flex: 100%;
    order: 3;
    display: flex;
    justify-content: center;
}

.seller-acc {
    align-self: center;
    width: 50%;
}

.product-name, .price, .row {
    margin-left: 2.5rem !important;
    text-align: left;
    font-weight: bold;
}

td {
    max-width: 10em !important;
}

#description {
    word-wrap: break-word;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.page-title {
    font-family: 'Sunshiney', cursive;
    height: 10% !important;
    font-size: 5em;
    margin-bottom: 0.5em;
}

/*unvisited link*/
a:link, a:visited, a:hover, a:active {
    color: black !important;
    text-decoration: none;
    text-underline: none;
}

#price {
    margin: 0.3em;
    float: right !important;
}

#prod-name {
    float: left !important;
}
